*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.box{
    position: relative;
    width : 200px;
    height : 200px;
    transform-style: preserve-3d;
    animation: animate 40s linear infinite;
   
}

    
.hoverTypo{
    position : relative;
    font-size : 32;
    color : transparent;
    z-index: 10 ;
    text-align : center;
    top : 25%; 
}

@keyframes animate
{
  0%
  {
      transform: perspective(1000px) rotateY(0deg);
  }
  100%
  {
      transform: perspective(1000px) rotateY(360deg);
  }
}

.span1{
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(45deg) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent , #0004);
}

.span1:hover{
   background-color: rgba(0, 0, 0, 0.3);

}

.span1:hover img{
    opacity: 0.3;
 
 }

.span1:hover p{
    color :white;
 }

.span1 p{
    position: 'relative';
   
}

.span1 p:before{
    top : 0;
    left : 0;
}
.span1 p:after{
    bottom : 0;
    right : 0;
}

.span1 p:before,
.span1 p:after{
    content: '';
    position: absolute;
    height: 2px;
    width :0 ;
    background : #fff;
    transition: width .3s ease-out;
}

.span1:hover p:before,
.span1:hover p:after
{
   width : 100%;
}

.span2{
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(90deg) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent , #0004);
}

.span2:hover{
    background-color: rgba(0, 0, 0, 0.3);
 
 }
 
 .span2:hover img{
     opacity: 0.3;
  
  }
 
 .span2:hover p{
     color :white;
  }
 
  .span1:hover p{
    color :white;
 }

.span1 p{
    position: 'relative';
   
}

.span2 p:before{
    top : 0;
    left : 0;
}
.span2 p:after{
    bottom : 0;
    right : 0;
}

.span2 p:before,
.span2 p:after{
    content: '';
    position: absolute;
    height: 2px;
    width :0 ;
    background : #fff;
    transition: width .3s ease-out;
}

.span2:hover p:before,
.span2:hover p:after
{
   width : 100%;
}

.span3{
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(135deg) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent , #0004);
}

.span3:hover{
    background-color: rgba(0, 0, 0, 0.3);
 
 }
 
 .span3:hover img{
     opacity: 0.3;
  
  }
 
 .span3:hover p{
     color :white;
  }

  .span3:hover p{
    color :white;
 }

.span3 p{
    position: 'relative';
   
}

.span3 p:before{
    top : 0;
    left : 0;
}
.span3 p:after{
    bottom : 0;
    right : 0;
}

.span3 p:before,
.span3 p:after{
    content: '';
    position: absolute;
    height: 2px;
    width :0 ;
    background : #fff;
    transition: width .3s ease-out;
}

.span3:hover p:before,
.span3:hover p:after
{
   width : 100%;
} 

.span4{
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent , #0004);
}

.span4:hover{
    background-color: rgba(0, 0, 0, 0.3);
 
 }
 
 .span4:hover img{
     opacity: 0.3;
  
  }
 
 .span4:hover p{
     color :white;
  }

.span4 p{
    position: 'relative';
   
}

.span4 p:before{
    top : 0;
    left : 0;
}
.span4 p:after{
    bottom : 0;
    right : 0;
}

.span4 p:before,
.span4 p:after{
    content: '';
    position: absolute;
    height: 2px;
    width :0 ;
    background : #fff;
    transition: width .3s ease-out;
}

.span4:hover p:before,
.span4:hover p:after
{
   width : 100%;
}

.span5{
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(225deg) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent , #0004);
}
.span5:hover{
    background-color: rgba(0, 0, 0, 0.3);
 
 }
 
 .span5:hover img{
     opacity: 0.3;
  
  }
 
 .span5:hover p{
     color :white;
  }

.span5 p{
    position: 'relative';
   
}

.span5 p:before{
    top : 0;
    left : 0;
}
.span5 p:after{
    bottom : 0;
    right : 0;
}

.span5 p:before,
.span5 p:after{
    content: '';
    position: absolute;
    height: 2px;
    width :0 ;
    background : #fff;
    transition: width .3s ease-out;
}

.span5:hover p:before,
.span5:hover p:after
{
   width : 100%;
}


.span6{
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(270deg) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent , #0004);
}
.span6:hover{
    background-color: rgba(0, 0, 0, 0.3);
 
 }
 
 .span6:hover img{
     opacity: 0.3;
  
  }
 
 .span6:hover p{
     color :white;
  }

  .span6 p{
    position: 'relative';
   
}

.span6 p:before{
    top : 0;
    left : 0;
}
.span6 p:after{
    bottom : 0;
    right : 0;
}

.span6 p:before,
.span6 p:after{
    content: '';
    position: absolute;
    height: 2px;
    width :0 ;
    background : #fff;
    transition: width .3s ease-out;
}

.span6:hover p:before,
.span6:hover p:after
{
   width : 100%;
}


.span7{
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(315deg) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent , #0004);
}
.span7:hover{
    background-color: rgba(0, 0, 0, 0.3);
 
 }
 
 .span7:hover img{
     opacity: 0.3;
  
  }
 
 .span7:hover p{
     color :white;
  }

  .span7 p{
    position: 'relative';
   
}

.span7 p:before{
    top : 0;
    left : 0;
}
.span7 p:after{
    bottom : 0;
    right : 0;
}

.span7 p:before,
.span7 p:after{
    content: '';
    position: absolute;
    height: 2px;
    width :0 ;
    background : #fff;
    transition: width .3s ease-out;
}

.span7:hover p:before,
.span7:hover p:after
{
   width : 100%;
}


.span8{
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(360deg) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent , #0004);
}
.span8:hover{
    background-color: rgba(0, 0, 0, 0.3);
 
 }
 
 .span8:hover img{
     opacity: 0.3;
  
  }
 
 .span8:hover p{
     color :white;
  }

  .span8 p{
    position: 'relative';
   
}

.span8 p:before{
    top : 0;
    left : 0;
}
.span8 p:after{
    bottom : 0;
    right : 0;
}

.span8 p:before,
.span8 p:after{
    content: '';
    position: absolute;
    height: 2px;
    width :0 ;
    background : #fff;
    transition: width .3s ease-out;
}

.span8:hover p:before,
.span8:hover:hover p:after
{
   width : 100%;
}


span img{

    position:absolute;
    top : 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width : 100%;
}