
.container{
    display: flex;
    align-items : center;
    text-align: center;
    margin : 0;
    width: 200%;
    height : 100vh;
    background-color: #141414;
}

.slide{
    margin-left: 0;
    width : 50%;
    display: flex;
    flex-direction: row;
    align-items : center;
    text-align: center;
    transition-duration: 3s;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -50%;
}

.container .img-container {
    width : 24.850%;
    height : 100vh;
    display: flex;
    margin-right: 0.15%;
}

.container .img-container img{
    width : 100%;
    height : 100%; 
    transition: transform .5s ease-in-out; /* Animation */
    overflow : hidden;
  
}

.container .left-button{
    margin-left: 20px;
    position: absolute;
    z-index: 10;
    background-color: transparent;
}

.container .right-button{
    margin-left: 20px;
    position: absolute;
    z-index: 10;
    background-color: transparent;
    right: 1%;
}


.container .img-container .text-overlay{
    width : 25.0%;
    height: 20%;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.9));
    color : white;
    font-size: 40px;
    border-radius: 0px;
    position: absolute;
    z-index: 10;
    align-self: flex-end;   
}


.container .img-container .description-overlay:hover{ 
    z-index: 11;
    opacity: 1; 
}  

.container .img-container .description-overlay:hover ~ #img{ 
    transform: scale(1.2) ;
    overflow : hidden;

}  

.container .headline-overlay{
    width : 100%;
    height: 10%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0));
    color : white;
    font-size: 40px;
    border-radius: 0px;
    position: absolute;
    z-index: 10;
    align-self: flex-start;   
    justify-self: flex-start;
}

.container .headline-overlay span{
    position: relative;
    top : 40%;
    right: center;
}

.container .img-container .text-overlay span{
    position: relative;
    top : 30%;
    right: 0%;
}


.container .img-container img:hover{
    transform: scale(1.2) ;
    overflow : hidden;
}
